*{
    margin: 0;
    padding: 0;
    font-family: CourierNew, monospace;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    background: black;
    color: white;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(imagesPortfolio/BackgroundUnsplash.jpg);
    background-size: cover;
    background-position: center;

}
.container {
    padding: 10px 10%
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo {
    width: 115px;
    height:40px;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0; 
    height: 3px; 
    background: white;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: .6s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size:15px;
    text-align: center;
}

.header-text h1 {
    font-size: 15px;
    margin-top: 20px; 
}

.header-text h1 span{
    color: white;
    font-size:60px;
    font-weight:bold;
}

#about {
    padding: 80px 0;
    color: #d3d3d3;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-image{
    flex-basis: 35%;
}

.about-image img {
    width: 85%;
    border-radius: 50px;
}

.about-desc {
    flex-basis: 60%;
}

.subtitle {
    font-size: 55px;
    font-weight: 580;
    color: weight;
    padding: 15px 0;
}

.tag-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.tag-links {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.tag-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s
}

.tag-content ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 12px;
}

.tag-content ul li span {
    color: lightblue;
    font-size: 20px;
}

.tag-content {
    display: none;
}


.tag-content.active-tag {
    display: block;
}

.tag-links.active-link::after {
    width: 30px;
}

#skills.active-tag {
    display: flex;
    justify-content: space-between;
}

/*---Projects---*/
.project {
    margin-bottom: 30px;
    background-color: #1e1e1e; 
    padding: 20px;
    border-radius: 10px;
}

.project h3 {
    color: lightblue; 
    margin-bottom: 10px;
}

.project p {
    color: #d3d3d3; 
    font-size: 16px;
    margin-bottom: 20px;
}

.project a {
    color: #00BFFF; 
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

/*---Contact---*/

.top-contact {
    flex-basis: 100%;
}

.top-contact p {
    margin-top: 10px;
}

.bottom-contact {
    margin-top: 30px;
    flex-basis: 50%;
}

.bottom-contact form {
    width: 100%;
}

form input, form textarea {
    outline: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0;
    background: #1e1e1e;
    color: white;
}

form .btn1 {
    padding: 14px 60px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
}

form.textarea {
    text-align: left;
}

#message {
    margin-top: 40px;
    display: block;

}

.top-contact p i{
    font-size: 15px;
    margin-right: 15px;
    color: lightblue;
}

.social-icons {
    margin-top: 25px;
}

.social-icons a {
    text-decoration: none;
    margin-right: 10px;
    color: lightblue;
    font-size: 20px;
    display:inline-block;
    
}

.social-icons a:hover {
    color: white;
    transform: translateY(-3px);

}

.btn.btn1{
    display: inline-block;
    background: lightblue;
    padding: 5px 15px;
    font-style: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    border-width: 0;
}

.btn.btn1:hover {
    transform: translateY(-3px);
    background: white;
}

.copyright p {
    text-align: center;
    width: 100%;
    padding: 30px;
}

#experience .e-list li{
    margin-left: 20px;
    list-style: circle;
}

/*---media settings---*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 750px) {
    #header{
        background-image: url(imagesPortfolio/BackgroundUnsplash.jpg);
        width: 100%;
    }

    .header-text h1 {
        font-size: 15px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul{
        background: grey;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.4s;
    }

    nav ul li{
        display: block;
        margin: 25px;

    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }

    .left-column, .right-column{
        flex-basis: 100%;
    }

    .left-column{
        margin-bottom: 30px;
    }

    .right-column{
        font-size: 14px;
    }

    .tab-links{
        font-size: 15px;
        margin-right: 20px;
    }

    .top-contact, .bottom-contact{
        flex-basis: 100%;
    }

}